.fixedContainer {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  height: 90px;

  z-index: 999;

  background: transparent;

  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.whiteBg {
  position: absolute;

  inset: 0;

  background: #ffffff;

  opacity: 0;

  transition: opacity 0.3s ease;

  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.08);
}

.scrolled {
  background: rgba(255, 255, 255, 0.97);

  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.06);
}

.scrolled .whiteBg {
  opacity: 1;
}


.header {
  position: relative;

  height: 100%;

  padding: 20px 22px 10px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  z-index: 2;
}


.leftContainer {
  display: flex;

  align-items: center;

  height: 40px;
}


.brand {
  display: flex;

  align-items: center;
}


.logoBox {
  width: 60px;
  height: 60px;

  display: flex;

  align-items: center;
  justify-content: center;
}


.logoImage {
  width: 60px;
  height: 60px;

  object-fit: contain;

  transition:
    filter 0.3s ease,
    opacity 0.3s ease;
}



.logoImage {
  filter:
    brightness(0)
    saturate(100%)
    invert(94%)
    sepia(8%)
    saturate(350%)
    hue-rotate(65deg)
    brightness(103%);
}



.scrolled .logoImage {
  filter: none;
}


.logo {
  padding-left: 10px;
  padding-right: 4px;

  font-size: 22px;

  color: #ffffff;

  font-family: "SoraBold";

  transition: color 0.3s ease;
}

.scrolled .logo {
  color: #070808;
}


.subLogo {
  margin-top: 4px;

  font-size: 10px;

  color: #d0dce5;

  font-family: "SoraRegular";

  transition: color 0.3s ease;
}

.scrolled .subLogo {
  color: #7c847b;
}

.rightSection {
  display: flex;

  align-items: center;

  gap: 12px;
}


.iconBtn {
  width: 32px;
  height: 32px;

  border: none;

  background: transparent;

  display: flex;

  align-items: center;
  justify-content: center;

  cursor: pointer;

  padding: 0;
}


.notificationIcon,
.profileIcon {
  font-size: 22px;

  color: #dcefdc;

  transition: color 0.3s ease;
}

.scrolled .notificationIcon,
.scrolled .profileIcon {
  color: #202820;
}


.divider {
  width: 1px;
  height: 18px;

  background: rgba(150, 150, 150, 0.25);
}

.desktopNav {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: auto;
  margin-right: 35px;
}

.navItem {
  position: relative;

  text-decoration: none;

  font-size: 13px;

  color: #d0dce5;

  font-family: "DMSanSemibold", sans-serif;

  padding: 8px 2px;

  transition:
    color 0.25s ease,
    transform 0.25s ease;
}

/* Header after scrolling */

.scrolled .navItem {
  color: #526057;
}

/* Active desktop tab */

.activeNavItem {
  color: #ffffff !important;
}

.scrolled .activeNavItem {
  color: #04433b !important;
}

/* Green underline */

.activeNavItem::after {
  content: "";

  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;

  height: 2px;

  border-radius: 5px;

  background: currentColor;
}


@media (max-width: 768px) {

  .header {
    padding-left: 18px;
    padding-right: 18px;
  }

  .logo {
    font-size: 18px;
  }

  .subLogo {
    font-size: 9px;
  }

  .desktopNav{
    display: none;
  }

}